<h1>Log In</h1>
<form action="/user/create-session" method="post">
    <input type="email" name="email" placeholder="Enter Email" /><br /><br />

    <input type="password" name="password" placeholder="Enter password" /><br /><br />

    <button type="submit">Log In</button>
</form>