<h1>Create an Worldbook Account</h1>
<form action="/user/create" method="post">
    <input type="email" name="email" placeholder="Enter Email" /><br /><br />
    <input type="name" name="user_name" placeholder="Enter Name" /><br /><br />
    <input type="password" name="password" placeholder="Enter password" /><br /><br />
    <input type="password" name="confirm_password" placeholder="Confirm Password" /><br /><br />
    <button type="submit">Sign Up</button>
</form>